<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>KSS Styleguide</title>
    <%= stylesheet_link_tag 'kss' %>
    <%= stylesheet_link_tag 'surface' %>
    <%= stylesheet_link_tag 'blackboard' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="kss-body">
    <header class="kss-header">
      KSS Styleguide Example
    </header>

    <div id="kss_wrapper">
      <nav role="main" class="kss-nav">
        <ul>
          <!-- <li><%= link_to 'Styleguide', kss.styleguide_path %></li> -->
          <!-- 0. Overview -->
          <li><%= link_to 'Overview', kss.root_path %></li>
          <!-- 1. Buttons -->
          <li><%= link_to 'Buttons', "#buttons" %></li>
          <!-- 2. Forms -->
          <li><%= link_to 'Forms', "#forms" %></li>
          <!-- 3. Header -->
          <li><%= link_to 'Header', "#header" %></li>
          <!-- 4. Footer -->
          <li><%= link_to 'Footer', "#footer" %></li>
          <!-- 5. Icons -->
          <li><%= link_to 'Icons', "#icons" %></li>
          <!-- 6. Listings -->
          <li><%= link_to 'Listings', "#listings" %></li>
          <!-- 7. Navigation -->
          <li><%= link_to 'Navigation', "#navigation" %></li>
          <!-- 8. Notices -->
          <li><%= link_to 'Notices', "#notices" %></li>
          <!-- 9. Utilities -->
          <li><%= link_to 'Utilities', "#utilities" %></li>
          <!-- 10. Discussion -->
          <li><%= link_to 'Discussion', "#discussion" %></li>
          <!-- 11. Colors -->
          <li><%= link_to 'Colors', "#colors" %></li>
          <!-- 12. Animations -->
          <li><%= link_to 'Animations', "#animations" %></li>
          <!-- 13. Select Menu -->
          <li><%= link_to 'Select Menu', "#select-menu" %></li>
        </ul>
      </nav>
      <%= yield %>
    </div><!-- /#wrapper -->
    
    <%= javascript_include_tag 'kss' %>
    <%= javascript_include_tag 'rainbow' %>
  </body>
</html>