
<a id='blocks'></a>
<h2>Blocks</h2>
<%= styleguide_block '1.1' do %>
   <button class='$modifier_class'>Example Button</button>
<% end %>

<a id='forms'></a>
<h2>Forms</h2>
<%= styleguide_block '2.1' do %>
 <div class='$modifier_class'>Example Div</div>
<% end %>


<a id='header'></a>
<h2>Header</h2>
<%= styleguide_block '3.1' do %>
 <div class='$modifier_class'>Example Div</div>
<% end %>

<a id='footer'></a>
<h2>Footer</h2>
<%= styleguide_block '4.1' do %>
 <div class='$modifier_class'>Example Div</div>
<% end %>

<a id='icons'></a>
<h2>Icons</h2>
<%= styleguide_block '5.1' do %>
 <div class='$modifier_class'>Example Div</div>
<% end %>

<a id='listings'></a>
<h2>Listings</h2>
<%= styleguide_block '6.1' do %>
 <div class='$modifier_class'>Example Div</div>
<% end %>

<a id='navigation'></a>
<h2>Navigation</h2>
<%= styleguide_block '7.1' do %>
 <div class='$modifier_class'>Example Div</div>
<% end %>

<a id='notices'></a>
<h2>Notices</h2>
<%= styleguide_block '8.1' do %>
 <div class='$modifier_class'>Example Div</div>
<% end %>

<a id='utilities'></a>
<h2>Utilities</h2>
<%= styleguide_block '9.1' do %>
 <div class='$modifier_class'>Example Div</div>
<% end %>

